.parallaxImage1 {
    top: -1100px;
}
/* Flyer */
#ads {
    border: solid 1px white;
    width: 55%;
    margin: auto;
    padding: 30px;
}
/* margins for text contents in About Us and Contact */
.contentsMargin {
    margin-right: 15%;
    margin-left: 15%;
}
/* Makes parallax images responsive */
.resImg {
    width: 100%;
    /* height: 100%; */
	overflow: hidden;
}

.infoContainer {
    background-color: #263238;
}

.fontColor {
    color: rgb(110, 110, 110);
}
/* Footer */
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#263238;
    color: rgb(83, 83, 83);
}

.nav-wrapper{
    background-color:#263238;
}

#nav-mobile{
    color: rgb(83, 83, 83);




/* When screen's width is 1024 or smaller, the image stays 1024px ============================ */
@media screen and (max-width: 1024px) {
    .resImg {
        width: 1024px;
    }
    /* Greeting section ======================== */
    .greeting {
    	width: 700px;
    }
}