/* Show Cidy's face */
.parallaxImage1 {
    top: -250px;
}

#small-logo {
    height: 60px;
}

.greeting {
	color: #ffffff;
	line-height: 0px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #494848a2;
	width: 900px;

    font-size: 88px;
	position: absolute;
	bottom: 10%;
	right: 0;
}

.headerBio{
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;

}

/* Flyer */
.ads {
    border: solid 1px white;
    margin: auto;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
}
/* margins for text contents in About Us and Contact */
.contentsMargin {
    margin-right: 15%;
    margin-left: 15%;
}
/* Makes parallax images responsive */
.resImg {
    width: 100%;
    /* height: 100%; */
	overflow: hidden;
}

.info-card {
    margin-top: 80px;
    padding: 0;
    border-top: solid white 10px;
    border-bottom: solid white 10px;
}
.text-background {
    background-color: rgb(135, 140, 141);
}

.bigFont {
    font-size: 58px;
    text-align: justify;
}
.infoContainer {
    background-color: #263238;
    padding-top: 40px;
    padding-bottom: 90px;
}

.fontColor {
    color: rgb(110, 110, 110);
}
/* Footer */
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#263238;
    color: rgb(83, 83, 83);
}

.nav-wrapper{
    background-color:#263238;
}

#nav-mobile{
    color: rgb(83, 83, 83);




/* When screen's width is 1024 or smaller, the image stays 1024px ============================ */
@media screen and (max-width: 1024px) {
    .resImg {
        width: 1024px;
    }
    /* Greeting section ======================== */
    .greeting {
    	width: 700px;
    }
}